*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.tmpoj
.idea
nbproject/

# FuelPHP files to ignore
src/tonichelp/logs/*/*/*
src/tonichelp/cache/*/*
src/tonichelp/config/crypt.php

# TonicHelp specific ones
src/tonichelp/config/production/db.php
